# Database
POSTGRES_USER=user
POSTGRES_PASSWORD=change_me
POSTGRES_DB=jobs_db
POSTGRES_HOST=db
POSTGRES_PORT=5432

# MinIO
MINIO_ENDPOINT=minio:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_SECURE=False

# RabbitMQ
RABBITMQ_HOST=rabbitmq
RABBITMQ_USER=user
RABBITMQ_PASS=change_me

# API URL (External access)
API_URL=http://localhost:8000

# WORKER CONFIGURATION
# Run 'pwd' in your terminal and paste the output below
HOST_PROJECT_PATH=/absolute/path/to/your/project